##
##  Main configuration file for the UNICORE/X server
##
##  Note: other config files are $include'd from here!


##########################################################################
################## General settings ######################################
##########################################################################

#
# Service container configuration file
# (contains server host/port, SSL settings, ...)
#
$include.CONTAINER conf/container.properties

#
# Execution backend configuration file
# (contains TSI host/ports, IDB file, ...)
#
$include.TSI conf/tsi.config


container.externalregistry.use=false

container.security.gateway.registration=false

# Check and wait for gateway on startup?
container.security.gateway.waitOnStartup=true
container.security.gateway.waitTime=1800

#########################################################################
################## User authentication ##################################
#########################################################################

# Enabled authenticators and their order
container.security.rest.authentication.order=FILE

# OIDC/OAUTH server (Keycloak or Unity)
container.security.rest.authentication.OAUTH.class=eu.unicore.services.rest.security.OAuthAuthenticator
container.security.rest.authentication.OAUTH.address=${OAUTH_ISSUER_URL}/userinfo
container.security.rest.authentication.OAUTH.validate=false
container.security.rest.authentication.OAUTH.identityAssign="UID="+email

# Username/password file
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=conf/user-authfile.txt


##########################################################################
################## Attribute mapping and authorisation ###################
##########################################################################

container.security.attributes.order=FILE
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES

# Configuration of the 'FILE' attribute source
container.security.attributes.FILE.class=eu.unicore.services.aip.file.FileAttributeSource
container.security.attributes.FILE.file=conf/user-mapfile.json
# How to match entries: strict or regexp
container.security.attributes.FILE.matching=regexp


#########################################################################
############################ Storages  ##################################
#########################################################################

# Example project share
coreServices.sms.storage.0.name=ROOT
coreServices.sms.storage.0.description=Root of the file system
coreServices.sms.storage.0.path=/
coreServices.sms.storage.0.defaultUmask=007


#########################################################################
################### StorageFactory service configuration ################
#########################################################################

container.feature.StorageAccess.StorageFactory.enable=disable

##########################################################################
################## (internal) Workflow service configuration #############
##########################################################################

container.feature.WorkflowEngine.enable=false
