##
##  Main configuration file for the UNICORE/X server
##
##  (Note: several other config files are $include'd from here)


##########################################################################
################## General settings ######################################
##########################################################################

#
# Service container configuration file
# (contains server host/port, SSL settings, ...)
#
$include.CONTAINER conf/container.properties

#
# Execution backend configuration 
#
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=eu.unicore.xnjs.tsi.remote.single.PerUserTSIModule

$include.TSI conf/tsi.config

container.externalregistry.use=false
container.security.gateway.waitOnStartup=true
container.security.gateway.waitTime=1800
container.security.gateway.registration=false

#########################################################################
################## User authentication ##################################
#########################################################################

# Enabled authenticators and their order
container.security.rest.authentication.order=${AUTHENTICATION}

# OIDC/OAUTH server (e.g. Keycloak or Unity)
container.security.rest.authentication.OAUTH.class=eu.unicore.services.rest.security.OAuthAuthenticator
container.security.rest.authentication.OAUTH.address=${OAUTH_ISSUER_URL}/userinfo
container.security.rest.authentication.OAUTH.validate=false
container.security.rest.authentication.OAUTH.identityAssign="UID="+email

# Username/password file
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=/local/user-authfile.txt


##########################################################################
################## Attribute mapping and authorisation ###################
##########################################################################

container.security.attributes.order=FILE
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES

# Configuration of the 'FILE' attribute source
container.security.attributes.FILE.class=eu.unicore.services.aip.file.FileAttributeSource
container.security.attributes.FILE.file=/local/user-mapfile.json
# How to match entries: strict or regexp
container.security.attributes.FILE.matching=regexp


#########################################################################
############################ Storages ###################################
#########################################################################

coreServices.sms.storage.0.name=ROOT
coreServices.sms.storage.0.description=Root of the file system
coreServices.sms.storage.0.path=/
coreServices.sms.storage.0.defaultUmask=007


# disable storage factory feature
container.feature.StorageAccess.StorageFactory.enable=disable

# disable internal workflow engine feature
container.feature.WorkflowEngine.enable=false
