#
# UNICORE execution backend configuration
#
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=eu.unicore.xnjs.tsi.remote.single.PerUserTSIModule


# base location for job directories (on the target machine)
XNJS.filespace=${HPC_JOBS_DIRECTORY}

XNJS.staging.filesystemGraceTime=30
XNJS.idbfile=conf/idb.json
XNJS.numberofworkers=4

CLASSICTSI.machine=${HPC_LOGIN_NODE}
CLASSICTSI.port=22

CLASSICTSI.priveduser=${HPC_USER}
CLASSICTSI.statusupdate.interval=30
CLASSICTSI.statusupdate.grace=2

# size of the memory buffer for transferring data to the TSI
CLASSICTSI.BUFFERSIZE=1000000

PERUSERTSI.executable=python3 ${HPC_TSI_PATH}
PERUSERTSI.identityResolver.1.class=eu.unicore.xnjs.tsi.remote.single.FileIdentityResolver
PERUSERTSI.identityResolver.1.file=conf/identities.json
